// COLORS
$main-color-dark: #2c3e50;
$main-color-green: #42b983;
$main-color-warning: #dd4430;

//body
body {
  margin: 0;
  padding: 0;
}

// MODALS
$border-color-light: lightgrey;
$input-background-light: rgb(240, 231, 231);
$input-focus-visible: rgb(124, 124, 124);
$main-color-yellow: #fc0;

$table-color-row-odd: #eee;
$table-color-row-even: #def;